/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storybook-static
/vendor
.env
.env.backup
.env.local
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Vue i18n
lang/php_*.json
# PHP CS Fixer
.php-cs-fixer.cache
# Local Dev
.DS_Store
# Vite
.vite
# Mac
.DS_Store
/resources/js/coverage
/resources/js/node_modules